.item{:name => addslashes(item.name)}
  .name
    = item.name
    - if admin?
      = link_to('Edit', edit_item_path(item))
      |
      = link_to('Remove', item_hide_path(item), :method => :post, :confirm => "Are you sure?")
  .icon
    = get_icon(item)
  .top
    = get_details(item)
  .slot
    = get_slot(item)
  .skill
    = get_skill(item)
  - unless item.ac == 0
    .ac
      AC:
      = item.ac
  - if item.proc?
    .proc
      = format_effect(item.proc)
  - if item.effect?
    .effect
      = format_effect(item.effect)
  - if item.haste > 0
    .haste 
      HASTE:
      = item.haste
      = "%"
  .stats
    = get_stats(item)
  .mid
    WT:
    = get_weight(item)
    = get_size(item)
  .class
    = get_class(item)
  .race
    = get_race(item)
  %br.clear
  