- content_for :head do
  = javascript_include_tag 'items.js'
%h1
  Update Slots for:
  = @character.name
.directions
  %p 1) Find and item for a given slot start typing the item name in the text field then push the find item button 
  %p 2) A list of valid item's will appear
  %p 3) Select item from list
  %p 5) Continue until finished
= form_for :slots do |f|
  = render :partial => 'errors'
  - Character::SLOTS.each do |slot|
    %p
      = f.label slot, filter_slot_name(slot)
      %br
      - item = @character.send(slot).name unless @character.send(slot).blank?
      = f.text_field slot, :class => 'item_finder', :value => item
      %a{:onclick => "find_item($('#slots_#{slot}').val(), '#{slot}');return false;", :href => 'javascript:void(0)'}
        Find Item
      .item_data{:id => "#{slot}_data"}
  = f.submit "Update Slots"
  