!!!
%html
  %head
    %title Magelo
    = stylesheet_link_tag 'compiled/screen.css'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield :head
  %body{:class => controller_name}
    #wrapper{:class => action_name}
      = yield
    #nav
      = yield :nav
      - if user_signed_in?
        %p= link_to 'My characters', profiles_path
        %p= link_to 'Create a new character', new_profile_path
        %p= link_to 'Logout', destroy_user_session_path
        = #link_to 'Account', user_path(current_user)
      - else
        %p= link_to('Create an Account', user_registration_path)
        %p= link_to('Sign in', new_user_session_path)
